* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
html, body {
    height: 100%;
}
 
h2 {
    padding-top: 20px;
}
 
table {
    border-collapse: collapse;
    width: 50%;
}
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    cursor: pointer; /* Makes the cells look clickable */
}

form {
    
}

table {
    
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 30%;
 
}
    
    .header { grid-area: 1 / 1 / 2 / 2; 
        padding: 10px;
    }
    .values { grid-area: 2 / 1 / 3 / 2;  
        padding: 10px;  
    }
    .controls { grid-area: 1 / 2 / 3 / 3; 
        padding: 10px;
    }