* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
html, body {
    height: 100%;
}
 
h2 {
    padding-top: 20px;
}
 
table {
    border-collapse: collapse;
    width: 50%;
}
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    cursor: pointer; /* Makes the cells look clickable */
}

form {
    padding: 10px;
}

table {
    margin: 10px;
}